@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: bisque;
}

.boxes {
    width: 60%;
    background-color: aqua transparent;
    display: block;
    margin: auto;
}

.intro-box {
    background-color: azure;
    padding: 10px;
    width: 90%;
    box-shadow: 0px 0px 15px rgba(0,0,0,.4);
    border-radius: 15px;
    display: block;
    margin: auto;
}

.intro-box h1 {
    font-family: "Merriweather",serif;
    font-size: 40px;
    text-align: center;
}

.intro-box img {
    display: block;
    margin: auto;
    width: 350px;
    height: 275px
}

.intro-box h3 {
    font-family:"Merriweather",serif;
    text-align: center;
    padding: 0px 10px
}

.intro-box h4 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 5px 10px;
    font-weight: lighter;
}

.buttons {
    background-color:rgb(255, 194, 187);
    padding: 10px;
    width: 90%;
    box-shadow: 0px 0px 10px rgba(0,0,0,.4);
    border-radius: 15px;
    display: block;
    margin: auto;
}

.buttons a {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin: 0px 35px;
}

.buttons a:hover {
    text-decoration: underline;
}

.org {
    background-color: azure;
    padding: 10px;
    width: 90%;
    box-shadow: 0px 0px 15px rgba(0,0,0,.4);
    border-radius: 15px;
    display: block;
    margin: auto;
    justify-content: center;
}

.org h1,h2,h3 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.org h3 {
    text-decoration: underline;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content: center;
    margin: auto;
}

.product {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:blanchedalmond;
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.4);
}

.product img {
    width: 100%;
    height: 75%;
}

.product h4, h5 {
    text-align: center;
    margin: 5px 0px;
}

.product h4 {
    font-size: 14px;
}

.product h5 {
    font-weight:300;
    font-size: 12.5px;
}

@media (max-width: 1024px) {
    .product img {
        height: 60%;
    }
}

@media (max-width: 768px) {
    .boxes {
        width: 80%;
    }
    .intro-box img {
        width: 100%;
    }
    .buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .buttons a {
        margin: 20px;
        font-size: 20px;
        text-align: center;
    }
    .org {
        justify-content: center;
        align-items: center;
        display: block;
        margin: auto;
    }
    .org h3 {
        font-size: 25px;
    }
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    .product {
        width: 90%;
    }
    .product h4 {
        font-size: 20px;
    }
    .product h5 {
        font-weight:300;
        font-size: 17.5px;
    }
    .product img {
        height: 65%
    }
}

@media (max-width:600px) {
    .intro-box h3 {
        font-size: 30px;
    }
    .boxes {
        width: 100%;
    }
    .buttons {
        display: grid;
        grid-template-columns: 1fr;
    }
    .buttons a {
        font-size: 25px;
        text-align: center;
        margin: 10px 0px
    }
    .org h2 {
        font-size: 35px;
    }
    .org h3 {
        font-size: 25px;
    }
    .grid {
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
    .product {
        display: block;
        margin: auto;
        box-shadow: 0px 0px 10px rgba(0,0,0,.4);
    }
    .product h4 {
        font-size: 25px;
    }
    .product h5 {
        font-size: 20px;
        font-weight:300;
    }
}